#c1{
    font-family: 'Courier New', Courier, monospace;
}
#c2{
    font-family: 'Lucida Handwriting', cursive;
}
#c3{
    font-family: 'Georgia', serif;
}
#c4{
    font-family: 'Tahoma', sans-serif;
}
#c5{
    font-family: 'Verdana', sans-serif;
}
