#c1{
    color: purple;
}
#c2{
    color: blue;
}
#c3{
    color: brown;
}
#c4{
    color: green;
}
#c5{
    color: pink;
}
#c6{
    color: yellow;
}
#c7{
    color: cyan;
}
#c8{
    color: orange;
}
#c9{
    color: magenta;
}
#c10{
    color: red;
}
